body, html {
    height: 100%;
    background-color: #FFB6C1;
}

/* The hero image */
.cover-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.container {
    width: 100%;
    height: 500px;
    position: relative;
}
/* hero text */
.container a {
    position: absolute;
    left: 30%;
    top: 35%;
    color: black;
    text-decoration: none;
    font-size: 100px;
}